<link href="https://allfont.es/allfont.css?fonts=franklin-gothic-heavy" rel="stylesheet" type="text/css" />
<link href="https://allfont.es/allfont.css?fonts=franklin-gothic-book" rel="stylesheet" type="text/css" />

/*estilos para el menu de la pagina*/
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:  #005883;
}

.navegacion{
  width: 1000px;
  margin:30px auto;
  background: #b3b3b3;
}
.navegacion ul{
  list-style: none;

}
.menu > li{
  position: relative;
  display: inline-block;
}
.menu > li > a{
  display: block;
  font-size: 25px;
  padding: 15px 40px;
  color: #333333;
  font-family:'franklin gothic',arial;
  text-decoration: none;
}

.menu li a:hover {
  color:  #F0B429;
  transition: all .3s;
}
.submenu{
  position: absolute;
  background: #808080;
  width: 150px;
  padding: 15px 20px;
  font-size: 110%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .8s;
}
.submenu li a{
  display:block;
  color: #fff;
  font-family: 'franklin gothic', arial;
  text-decoration: none;
}
.menu li:hover .submenu {
  visibility:visible;
  opacity: 1;
}

/*estilos para titulos y parrafos*/

.t_principal {
  text-align: center;
  color:  #F47920;
  font-size: 40px;

}
.t_2{
  font-size: 28px;
  font-family: 'franklin gothic',arial;
}
.t_3{
  font-size: 22px;
  font-family: 'franklin gothic',arial;
}
.t_4{
  font-size: 18px;
  font-family: 'franklin gothic',arial;
}
.parrafo{
  font-size: 16px;
  font-family: 'Franklin Gothic Book', arial;
  text-align: justify;
  font-weight: 300;
  line-height: 120%;
}
.container{
  width: 100%;
  max-width: 1000px;
  margin:auto;
  padding: 60px;
  background: white;
  margin-top: 50px;
  border-top: 6px solid #F0B429;

}


/*estilos para las imagenes*/
.ima_derecha{
  float: right;
  width: 300px;
}
.ima_derecha2{
  float: right;
  width: 400px;
}
.ima_derecha3{
  float: right;
  width: 200px;
}
.container img {

float: right;
margin-left: 20px;
margin-bottom: 20px;
}
.container aside {
  width: 70%;
}
